Repository xjxujing/film-recommendations: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write --no-error-on-unmatched-pattern, prettier --cache --write, eslint --fix, prettier --cache --parser=typescript --write

.lintstagedrc.json:

{
  "*.{md,json}": ["prettier --cache --write --no-error-on-unmatched-pattern"],
  "*.{css,less}": ["prettier --cache --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --cache --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --cache --parser=typescript --write"]
}

feat(project): ✨ Implement main feature
  .env.example
  .gitignore
  api/index.ts
  package.json
  pnpm-lock.yaml
  src/App.tsx
  vite.config.ts
Due: prettier --cache --write --no-error-on-unmatched-pattern, eslint --fix, prettier --cache --parser=typescript --write

feat(project): implement analytical functions
  .cspell/custom-words.txt
  REQUIREMENTS.md
  api/index.ts
  api/movies.ts
  api/server.ts
  api/systemPrompt.md
  commitlint.config.js
  data/movies.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/generate-movies.ts
  scripts/types.ts
  src/App.tsx
  src/components/AnimationWrapper/AnimationWrapper.tsx
  src/components/AnimationWrapper/constants.ts
  src/components/AnimationWrapper/index.ts
  src/components/AnimationWrapper/types.ts
  src/components/Card/Card.tsx
  src/components/Card/index.ts
  src/components/Card/types.ts
  src/components/CustomCursor/CustomCursor.tsx
  src/components/CustomCursor/index.ts
  src/constants.ts
  src/helpers/useWindowSize/index.ts
  src/helpers/useWindowSize/useWindowSize.ts
  src/types.ts
  tailwind.config.js
Due: prettier --cache --write --no-error-on-unmatched-pattern, prettier --cache --write, eslint --fix, prettier --cache --parser=typescript --write

build(project): 🛠 Use vercel locally
  api/server.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vercel.json
Due: prettier --cache --write --no-error-on-unmatched-pattern, eslint --fix, prettier --cache --parser=typescript --write

build(project): force use pnpm for vercel
  package.json
  vercel.json
Due: prettier --cache --write --no-error-on-unmatched-pattern

ci: fix pnpm version conflict by removing explicit version
  .github/workflows/ci.yml
Due: none

docs(docs): 📝 Add README
  README.md
  README_zh.md
Due: prettier --cache --write --no-error-on-unmatched-pattern

refactor(project): 📦️ Clean code
  REQUIREMENTS.md
  api/movies.ts
  api/server.ts
  api/systemPrompt.md
  api/types.tsx
  scripts/generate-movies.ts
Due: prettier --cache --write --no-error-on-unmatched-pattern, eslint --fix, prettier --cache --parser=typescript --write

feat(project): ✨ Internationalisation
  api/server.ts
  api/types.tsx
  data/movies_en.json
  data/movies_zh.json
  package.json
  pnpm-lock.yaml
  scripts/generate-movies.ts
  src/App.tsx
  src/components/Card/Card.tsx
  src/i18n.ts
  src/locales/en/translation.json
  src/locales/zh/translation.json
  src/main.tsx
Due: prettier --cache --write --no-error-on-unmatched-pattern, eslint --fix, prettier --cache --parser=typescript --write

style(project): 💄 Make analysis card better
  eslint.config.js
  src/App.tsx
Due: prettier --cache --write, eslint --fix, prettier --cache --parser=typescript --write
